.pill {
  cursor: default;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 5px 0 9px;
  margin: 4px;
  height: 24px;
  border-radius: 3px;
  background-color: #FFFFFF;
  border: 1px solid $grey-2;
  background-clip: padding-box;
  max-width: 50%;
  box-shadow: 1px 1px $grey-2;
  color: $grey-7;
  transition: border-color 0.15s;

  &:hover {
    color: $grey-8;
    border-color: $grey-4;
  }

  &--error {
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.5) 0%, #FAFAFA 100%);
    border-color: $color-bad;
    &:hover {
      border-color: $color-bad;
    }
  }

  &--new {
    border-color: #4EAFCB;
    color: #3AA6C5;
    &:hover {
      color: #3AA6C5;
      border-color: #4EAFCB;
    }
  }

  &--kre {
    border-color: #CFA9CF;
    color: #2D3138;
    &:hover {
      color: #2D3138;
      border-color: #CFA9CF;
    }
  }
}

.text {
  @include font-size-with-line-height(12px);
  flex-shrink: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  font-size: 12px;
  font-weight: 600;
}

.remove {
  padding-left: 4px;
  cursor: pointer;
}

.close {
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  transition: 0.2s background-color ease;
  path {
    transition: 0.2s fill ease;
  }

  &:hover {
    background-color: #E86048;
    path {
      fill: #FFFFFF;
    }
  }
}
