<div local-class="user">
  <div local-class="avatar"></div>
  <div local-class="rows">
    <div local-class="title"></div>
    <div local-class="subtitle"></div>
  </div>
</div>
<div local-class="list-item">
  <div local-class="icon"></div>
  <div local-class="description"></div>
</div>
<div local-class="list-item">
  <div local-class="icon"></div>
  <div local-class="description"></div>
</div>
