.mention-wormhole {
  display: inline-block;
}

.item {
  display: flex;
  padding: 18px 9px 18px 18px;
  position: relative;

  &:not(.joined-with-previous, .joined-with-previous-note) {
    margin-top: 5px;
  }

  &:not(.joined-with-previous) {
    .body {
      margin-top: -6px;
    }
  }
}

.side-column {
  width: 42px;
  margin-right: 13px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.body {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}

@media print {
  .body {
    display: block;
  }
}

.header-container {
  display: flex;
}
@media print {
  .header-container {
    page-break-inside:avoid;
    break-inside: avoid;
  }
}

.note-summary {
  margin-right: 4px;
}

.note {
  background: $color-note-background;
  margin-left: 18px;
  margin-right: 18px;
  max-width: 800px;
  border-radius: 5px;
  padding: 18px;
  border: 1px solid $color-note-background;
  transition: border-color 0.2s ease-out;
  :global(.attachment-container-flap-hide) {
    background: $color-note-background;
  }

  &.case {
    margin-left: 73px;
  }

  .side-column {
    width: 32px;
    margin-right: 13px;
  }
}

.side-conversation {
  cursor: pointer;
}

.message-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
  background-color: #f0f0f0; /* Background color */
  border-radius: 50%; /* Make it round */
  font-size: 12px; /* Adjust font size as needed */
  color: #333; /* Text color */
  font-weight: bold; /* Bold the font */
  position: absolute;
  right: 24px; /* Adjust position as needed */
  top: 50%;
  transform: translateY(-50%);
}

.pinned {
  border: 1px solid $color-note-border;
}

.joined-with-previous {
  padding-top: 2px;
  padding-bottom: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  .body > .header-container, .body > .content {
    padding-right: 200px;
  }

  &.note {
    &.pinned {
      border-top: none;
    }
    .body {
      padding-right: 54px;
    }
  }
}

.joined-with-next {
  padding-bottom: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;

  &.note.pinned {
    border-bottom: none;
  }
}

.post {
  transition: background-color 0.12s;

  &--replying {
    background-color: #EFF8FA;
  }

  &.no-menus-open:hover {
    background: $grey-1;
    :global(.attachment-container-flap-hide) {
      background: $grey-1;
    }
  }

  &.menu-open {
    background: $grey-1;
    :global(.attachment-container-flap-hide) {
      background: $grey-1;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 16px;
  flex-shrink: 1;
  overflow: hidden;
  flex-grow: 1;
}

.title {
  margin-bottom: 0;
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  max-width: 100%;
  flex-grow: 1;
  font-size: 16px;
  line-height: 24px;
}

.time {
  cursor: default;
}

.creator {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-right: 4px;
}

.subtitle {
  font-size: 14px;
  line-height: 24px;
  color: #838D93;
  white-space: nowrap;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;

  > span {
    padding-right: 3px;
  }
}

.iframe-content {
  max-width: 800px;
  padding-right: 14px;
}

.content {
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding-right: 14px;
  font-size: 15px;
  line-height: 27px;

  p {
    padding: 8px 0;
  }

  ol,
  ul {
    margin-left: 20px;
  }

  table {
    border: 1px solid #ddd;
    border-spacing: 0;
    padding: 0;
  }

  table td,
  table th {
    padding: 0 4px;
    border: 1px solid #ddd;
  }

  blockquote {
    border-left: solid 2px #40364D;
    margin-left: 0;
    padding-left: 5px;
    color: #40364D;
  }

  pre {
    font-size: 14px;
    white-space: pre-wrap;
  }

  :global(.br-wrapper) {
    br {
      display: none;
    }
  }

  :global(.br-wrapper--single) {
  }

  :global(.br-wrapper--multiple) {
    height: 14px;
  }
}

@media print {
  .content {
    div {
      page-break-inside:avoid;
      break-inside: avoid;
    }
  }
}
/* override with extreme prejudice */
/* any text styling not in a table */
/* within html content */
/* stylelint-disable */
.html-content,
.html-content[style] {
  padding-right: 14px;
  font-family: 'Source Sans Pro K', Sans-Serif, serif !important;
  font-size: 15px !important;
  line-height: 27px !important;

  p[style], span[style], div[style], b[style], {
    font-family: 'Source Sans Pro K', Sans-Serif, serif !important;
    font-size: 15px !important;
    line-height: 27px !important;
  }
}
/* stylelint-enable */

.joined-with-previous .content {
  padding-top: 0;
}

.waiting .content,
.sending .content,
.failed .content {
  opacity: 0.35;
}

.waiting .attachments-header,
.sending .attachments-header,
.failed .attachments-header {
  opacity: 0.5;
}

.joined-with-previous:not(.note):hover {
  background: linear-gradient(to right, #FFFFFF 0, #FFFFFF 0, #F7F8F9 0, #F7F8F9 100%);
}

.joined-with-previous-note {
  padding-top: 0;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;

  &:not(.joined-with-previous) {
    padding-top: 12px;
  }
}

.joined-with-next-note {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.side-time {
  line-height: 17px;
  height: 15px;
  color: $grey-6;
  opacity: 0;
  margin-right: -11px;
  margin-top: 5px;
}

.note .side-time {
  margin-right: 0;
}

.item:hover .side-time {
  opacity: 1;
}

.menu {
  cursor: default;
  position: relative;
  display: flex;
  margin-left: auto;
  background: #FFFFFF;
  height: 24px;
  border: 1px solid #d1d5d7;
  border-radius: 4px;
}

.menu-wrapper {
  display: flex;
  position: absolute;
  right: 9px;
  top: 4px;
}

.post .menu-wrapper {
  right: 18px;
}

.item:not(.joined-with-previous) .menu-wrapper {
  top: 9px;
}

.hidden-item {
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
}

.item.menu-open .hidden-item,
.item.no-menus-open:hover .hidden-item {
  opacity: 1;
  visibility: visible;
  transform: none;
}

.menu-item {
  cursor: pointer;
  width: 27px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:last-child) {
    border-right: 1px solid $grey-3;
  }

  > div {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    height: 100%;
    width: 100%;
  }

  path {
    transition: fill 0.2s ease-in;
  }

  /* Menu Item status colors */
  &.yellow path {
    fill: $color-note-border;
  }

  &:hover path {
    fill: $primary-blue;
  }

  &.processing path {
    fill: lighten($color-note-border, 20%);
  }
}

.note .menu-item:hover path {
  fill: $color-note-border;
}

.quote-icon svg {
  margin-left: 1px;
}

.status {
  margin-left: 6px;
  display: flex;
  align-items: center;
}

.status-separator {
  margin-left: 6px;
  color: $grey-6;
  font-size: 25px;
  line-height: 24px;

  &.pinned-by {
    margin-left: 0;
  }
}

.pinned-by-avatar {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-left: 1px;
}

.separator {
  margin: 0 5px;
  color: $grey-4;
}

.content img {
  max-width: 100% !important; /* overrides width/height in the actual HTML itself (from K4 content) */
  height: auto !important;
}

.role {
  line-height: 16px;
  margin: 2px 4px 0 2px;
  vertical-align: text-top;
  display: inline-flex;
}

.extended-info {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
}

@media print {
  .extended-info {
    display: block;
  }
}

.metadata-page-url {
  color: #838D94;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  direction: rtl;
  text-align: left;
}

.client-failed-message {
  margin: 10px 0 15px;
  color: $grey-7;
}
