.article-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.article-item {
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  color: #333;
  font-weight: 500;
  cursor: pointer;
}

.selected {
  background-color: #f8f9fa;
}

.create-article {
  padding-bottom: 16px;
  padding-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

.article-item:hover {
  background-color: #f8f9fa;
}

.article-count {
  color: #838D94;
  padding: 0;
  font-weight: 600;
  background-color: transparent;
  border-radius: 0;
  font-size: 16px;
}
