.chartDateRange {
  display: flex;
  align-self: flex-end;
}

.chartDateRangeIcon {
  border: 1px solid #D1D5D7;
  color: $grey-6;
  font-size: 16px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 7px;

  border-radius: 0 3px 3px 0;

  border-left: none;
}

.chartDateRange :global(.hide) {
  display: none;
}

.chartDateRange :global(.daterangepicker-input) {
  line-height: 18px;
  padding: 5px 9px;
  border: 1px solid #D1D5D7;
  border-radius: 2px 0 0 2px;
  width: 160px;
  transition: border-color 0.1s, box-shadow 0.1s;
}

.button-apply {
  composes: primary from 'frontend-cp/components/ko-button/styles';
}

.button-cancel {
  composes: naked from 'frontend-cp/components/ko-button/styles';
}

:global(.daterangepicker) {
  display: none;
}

:global(.daterangepicker .ranges li) { /* stylelint-disable-line selector-no-qualifying-type */
  background: #F7F8F9;
  color: #4EAFCB;
  border: 1px solid #F7F8F9;
}

:global(.daterangepicker .ranges li:hover) { /* stylelint-disable-line selector-no-qualifying-type */
  border: 1px solid #4EAFCB;
}

:global(.daterangepicker .ranges li.active) { /* stylelint-disable-line selector-no-qualifying-type */
  border: 1px solid #4EAFCB;
  background: #4EAFCB;
  color: #F7F8F9;
}

:global(.daterangepicker) {
  border-top: 1px solid #D1D5D7;
}

:global(.daterangepicker:before) {
  display: none;
}

:global(.daterangepicker:after) {
  display: none;
}

:global(.daterangepicker td.active) { /* stylelint-disable-line selector-no-qualifying-type */
  background: #4EAFCB;
  color: #F7F8F9;
}

:global(.daterangepicker td.available:hover) { /* stylelint-disable-line selector-no-qualifying-type */
  background: #F7F8F9;
  color: #4EAFCB;
}

:global(.daterangepicker .input-mini.active) { /* stylelint-disable-line selector-no-qualifying-type */
  border: 1px solid #4EAFCB;
}

:global(.daterangepicker td.available:hover) { /* stylelint-disable-line selector-no-qualifying-type */
  background: #F7F8F9;
}

:global(.daterangepicker th.available:hover) { /* stylelint-disable-line selector-no-qualifying-type */
  background: #F7F8F9;
}

:global(.daterangepicker .off) {
  visibility: hidden;
}

:global(.daterangepicker .range_inputs) {
  display: flex;
}
