.image {
  display: block;
  line-height: 0;
  background: #FFFFFF;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  opacity: 1;
  transition: opacity 0.2s;
}

.sizeNano {
  width: 16px;
  height: 16px;
}

.sizeMicro {
  width: 18px;
  height: 18px;
}

.sizeSmall {
  width: 24px;
  height: 24px;
}

.sizeSubmedium {
  width: 32px;
  height: 32px;
}

.sizeMedium {
  width: 42px;
  height: 42px;
}

.sizeLarge {
  width: 48px;
  height: 48px;
}

.sizeXLarge {
  width: 64px;
  height: 64px;
}

.loading {
  background: $grey-2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 3px;
}

.round {
  border-radius: 50%;
}
