.container {
  display: flex;
  align-items: center;
}

.swatch {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 4px;
}

.label {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.prefix {
  margin-right: 4px;
}
