.row {
  width: 100%;
  padding: 9px;
  margin: 6px 0;
  border: 1px solid #D1D5D7;
  border-radius: 2px;
  background-image: linear-gradient(-180deg, rgba(250, 250, 250, 0.5) 0%, #FFFFFF 98%);
  display: flex;

  &:hover {
    .action {
      visibility: visible;
    }
  }
}

.cell {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
}

.action-cell {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  justify-content: flex-end;
}

.action {
  visibility: hidden;
  cursor: pointer;
  color: $primary-blue;
}

.list :global(.sortable-item) { /* HACK */
  margin: 6px 0;
}

.title {
  font-weight: 600;
}

.caption {
  color: $grey-6;
}
