.cell {
  padding: 5px 4px;
}

.left {
  padding: 5px 11px 5px 0;
  vertical-align: top;
  text-align: right;
  color: #838D93;
}

.grey {
  color: #838D93;
}

.mail-text {
  padding-left: 2px;
}

.to-text {
  padding-right: 3px;
}

.email-item-cc {
  padding-right: 3px;
  .email-item:after {
    content: ',';
  }
}

.no-comma span::after {
  content: '' !important;
}

.email-item-content {
  &:first-of-type {
    padding-right: 3px;
    &.shrink {
      text-overflow: ellipsis;
      overflow: hidden;
      min-width: 90%;
      white-space: nowrap;
      flex-shrink: 1;
      flex-grow: 0;

      .email-item {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.email-item-solo {
  margin-right: 3px;
}

.others-text {
  padding-left: 3px;
  padding-right: 3px;
}

.details-chevron {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 14px;
  width: 14px;
  margin-left: 1px;
  text-align: center;
  border: 1px solid $grey-3;
  border-radius: 2px;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  color: $grey-5;
  cursor: pointer;
  user-select: none;
  transition: border-color 0.15s ease;

  > svg {
    position: relative;
    top: 1px;
  }

  &:hover {
    border-color: #ADB4B8;
  }

  &.active {
    border-color: #ADB4B8;
  }

  svg path {
    transition: 0.25s fill ease;
  }

  &:hover svg path, &.active svg path {
    fill: #5F6C73;
  }
}

.chevron-info-box {
  display: block;
  border: 1px solid #D1D5D7;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
  background: #ffffff;
  max-width: 500px;
  line-height: 18px;
  max-height: 500px;
  overflow-y: auto;

  &.left {
    left: auto;
    right: -1px;
  }

  &.top {
    top: auto;
    bottom: calc(100% + 3px);
  }
}

.cc-item {
  color: #838D93;
}

.sandbox-trigger {
  display: inline-block;
}

.hide {
  display: none;
}
