.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.title {
  padding: 0 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82px;
  border-bottom: 1px solid $grey-3;
}

.search-input {
  color: $grey-8;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0;
  padding: 0;
  font-size: 24px;
  appearance: none;
  border: none;
  &:focus {
    outline: none;
  }
  &::placeholder {
    line-height: 31px;
  }
}

.help-link {
  font-style: italic;
  font-size: 14px;
  color: #A1AAAF;
  line-height: 16px;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  overflow-y: auto;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.not-found {
  padding: 18px;
}

.bulk-actions {
  display: flex;
}

.merge-button {
  margin-right: 9px;
}

.trash-button {
  padding-right: 10px;
}

.row-styles > td {
  padding-top: 11px;
  padding-bottom: 11px;
}

.ribbon {
  background: #F15713;
  width: 100%;
  height: 33px;
  color: #fff;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  z-index: 200;
}
