.trigger {
  width: 50px;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  &[aria-expanded="true"] {
    background-color: $grey-2;
  }
}

.dropdown {
  composes: dropdown from 'frontend-cp/components/ko-select/shared';
  margin-top: 0 !important;
  margin-right: 9px;
  min-width: 250px;
}
