.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-message {
  /* stylelint-disable-next-line color-named */
  color: white;
  /* stylelint-disable-next-line unit-blacklist */
  font-size: 2em;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
}

.header h4 {
  font-size: 22px;
}

.articles-table th {
  text-align: left;
  padding: 12px 15px;
  border-bottom: 2px solid #ddd;
  font-size: 14px;
  color: #838D94;
  text-transform: uppercase;
}

.show-filters-btn {
  padding: 6px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 120px;
  margin-left: 16px;
  margin-bottom: 16px;
}

.articles-table {
  width: 100%;
  border-collapse: collapse;
}

.articles-table td {
  text-align: left;
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  color: #333;
}

.articles-table th {
  font-weight: 600;
}

.status.published {
  background-color: #5bc0de;
  color: #fff;
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  line-height: 1.5;
}

.pagination {
  display: flex;
  justify-content: left;
  margin-top: 16px;
  position: relative;
}

.pagination .selected {
  border: 1px solid #000000;
}

.pagination button {
  padding: 8px 16px;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  background: transparent;
}

.pagination button:hover {
  background-color: #f8f9fa;
}

.article-row:hover {
  cursor: pointer;
  background-color: #EFF8FA;
}

.hidden {
  display: none;
}

.bulk-actions {
  display: flex;
}

.trash-button {
  will-change: transform, opacity;
  margin-left: 9px;
}

.no-articles-message {
  text-align: center !important;
}
