.container {
  display: block;
  position: relative;
  padding: 0;
}

.item {
  display: block;
  background-color: #CCCCCC;
  position: absolute;
  margin: 0;
  padding: 0;
  animation: state1 1.1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s infinite alternate;

  &:nth-child(2) {
    animation-name: state2;
    animation-timing-function: ease-in-out;
  }

  &:nth-child(3) {
    animation-name: state3;
  }
}

.containerLarge {
  width: 24px;
  height: 30px;

  .item {
    width: 4px;
    height: 30px;

    &:nth-child(2) {
      left: 8px;
    }

    &:nth-child(3) {
      left: 16px;
    }
  }
}

.containerMedium {
  width: 18px;
  height: 24px;

  .item {
    width: 2px;
    height: 24px;

    &:nth-child(2) {
      left: 6px;
    }

    &:nth-child(3) {
      left: 12px;
    }
  }
}

.containerSmall {
  width: 12px;
  height: 15px;

  .item {
    width: 2px;
    height: 15px;

    &:nth-child(2) {
      left: 4px;
    }

    &:nth-child(3) {
      left: 8px;
    }
  }
}

@keyframes state1 {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0.3);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes state2 {
  0% {
    transform: scaleY(0.5);
  }

  25% {
    transform: scaleY(0.9);
  }

  50% {
    transform: scaleY(0.5);
  }

  75% {
    transform: scaleY(0.9);
  }

  100% {
    transform: scaleY(0.5);
  }
}

@keyframes state3 {
  0% {
    transform: scaleY(0.3);
  }

  50% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0.3);
  }
}
