.group {
  margin-top: 26px;

  &:first-of-type,
  &:nth-of-type(2) {
    margin-top: 14px;
  }

  &:last-of-type {
    padding-bottom: 26px;
  }
}

.header {
  padding: 0 6px 3px 22px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: $grey-6;
  letter-spacing: 0.92px;
  line-height: 16px;
}
