.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  background-color: $grey-1;

  &.for-breach {
    background-color: $trivial-red;
  }
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 3px;
  object-fit: cover;
}
