.header {
  display: flex;
  justify-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  padding: 0 10px 0 0;
}

.entity {
  display: flex;
  align-items: center;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filtersControls {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.intervalToggle {
  margin-right: 20px;
}

.charts {
  position: relative;
  margin-top: 30px;
}
