<div local-class="search">
  <input
    type="search"
    local-class="input"
    value={{value}}
    oninput={{onInput}}
    disabled={{disabled}}
    placeholder={{placeholder}}
  >
  <span class="i-search i-color-grey--light"></span>
</div>
