.wrapper {
  position: relative;
}

.bell {
  position: relative;
  padding: 0 18px;
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.1s;

  &.is-active {
    background-color: $grey-2;
  }

  &:not(.is-active):hover {
    path {
      fill: $grey-6;
    }
  }
}

.unread-mark {
  position: absolute;
  top: 18px;
  right: 17px;
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: $color-bad;
  opacity: 0;
  transform: scale(0);
  animation: scale-up-dot 0.22s forwards;
}

@keyframes scale-up-dot {
  to {
    opacity: 1;
    transform: none;
  }
}

.header {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  border-bottom: 1px solid $grey-3;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.08);
}

.content {
  position: relative;
  width: 420px;
  max-height: 580px;
  background-color: #FFFFFF;
  border: 1px solid $grey-3;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.06), 0 1px 3px 0 rgba(44, 48, 56, 0.09);
  border-radius: 3px;
  justify-content: space-between;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
  }
}

.title {
  font-size: 15px;
  font-weight: 600;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  margin: 0;
}

.read-all-action {
  margin-right: 14px;
  border-radius: 3px;
  color: $primary-blue;
  cursor: pointer;

  &.activated {
    color: $color-online;
    position: relative;

    &:before {
      content: '';
      width: 14px;
      height: 10px;
      background: url('/images/icons/success.svg') no-repeat;
      animation: pop-icon 0.6s;
      position: absolute;
      left: -19px;
      background-size: 100%;
      transition: color 300ms ease;
      top: 4px;
    }
  }
}

@keyframes pop-icon {
  0% {
    opacity: 0;
    transform: none;
  }
  75% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.list {
  max-height: 470px;
  overflow: auto;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $grey-2;
  opacity: 0;
  height: 0;
  pointer-events: none;
  transition: opacity 300ms;

  &.is-active {
    height: 61px;
    opacity: 1;
  }
}

.load-more {
  position: relative;
  z-index: 1;
  padding: 12px;
  border-top: 1px solid $grey-2;
  text-align: center;
  cursor: pointer;
  transition: 0.08s;

  &:hover {
    color: $primary-blue;
    background-color: $grey-1;
  }
}

.no-more {
  position: relative;
  z-index: 1;
  padding: 12px;
  border-top: 1px solid $grey-2;
  text-align: center;
  cursor: pointer;
  transition: 0.08s;

  &:hover {
    color: $primary-blue;
    background-color: $grey-1;
  }
}

.preferences-icon {
  cursor: pointer;

  &:hover path {
    fill: $grey-6;
  }
}
