.section {
  border-bottom: 1px solid $grey-2;
  display: flex;
  padding: 30px 0;
}

.section-title {
  width: 25%;
  font-size: 16px;
  color: $grey-8;
}

.section-body {
  width: 75%;
}

.tile {
  padding: 20px 15px;
  background: $grey-1;
  border-radius: 2px;
  margin-top: 9px;
  text-align: center;
}
