.titleBlock {
  position: relative;
  min-height: 15px;
  display: flex;
}

.title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #838D94;
  letter-spacing: 1px;
  will-change: transform;
}

.titleLine {
  border-bottom: 1px solid $grey-2;
  padding-top: 5px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  height: 1px;
  margin-left: 15px;
}
