.container {
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.05s;

  &:hover {
    background-color: $trivial-blue;
  }
}

.selected {
  background-color: $trivial-blue;
}
