.post {
  position: relative;

  .note:last-child {
    margin-bottom: 18px;
  }
}

.post[data-single-no-icon],
.post[data-single] {
  margin: 9px 0;
}

.post[data-single]:before {
  content: '';
  position: absolute;
  width: 2px;
  background: #EBEEF0;
  top: -9px;
  left: 88px;
  height: 18px;
}

.post[data-single]:after {
  content: '';
  position: absolute;
  width: 2px;
  background: #EBEEF0;
  top: 41px;
  left: 88px;
  bottom: -9px;
}

.post[data-single-no-icon]:before {
  content: '';
  position: absolute;
  width: 2px;
  background: #EBEEF0;
  top: -8px;
  left: 88px;
  height: 18px;
}

.post[data-single-no-icon]:after {
  content: '';
  position: absolute;
  width: 2px;
  background: #EBEEF0;
  top: 25px;
  left: 88px;
  bottom: -7px;
}

.post[data-connect]:before {
  content: '';
  position: absolute;
  width: 2px;
  background: #EBEEF0;
  top: 42px;
  left: 88px;
  bottom: -10px;
}

.post[data-connect-no-icon]:before {
  content: '';
  position: absolute;
  width: 2px;
  background: #EBEEF0;
  top: 26px;
  left: 88px;
  bottom: -10px;
}

.item {
  /* items are full-bleed and have their own padding */
}

.item > div {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.located > div {
  box-shadow: 0 0 0 5px rgba(224, 175, 42, 0.44);
}

.large {
  margin: 25px 18px;
}

.standard {
  margin-left: 73px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-right: 18px;
}

.new-messages-separator {
  display: block;
  position: relative;
  margin: 9px 18px;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
}

.new-messages-separator:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  background-color: $color-bad;
}

.new-messages-separator__text {
  display: inline-block;
  position: relative;
  background: #fff;
  margin: auto;
  padding: 0 1px 0 10px;
  color: $color-bad;
}

.external-url {
  display: flex;
  justify-content: space-between;
}

.external-url:global(.no-menus-open):hover {
  background-color: #F7F8F9;

  .event-url-container {
    display: flex;
  }
}

.event-url-container {
  display: none;
}

.event-url {
  margin: 15px 18px 0 0;
}
