.box {
  position: relative;
  display: flex;
  padding: 18px 22px;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(45, 49, 56, 0.05), 0 1px 3px 0 rgba(45, 49, 56, 0.15);
  border-radius: 6px;
}

.box__number {
  height: 32px;
  width: 32px;
  margin-right: 14px;
  background-image: linear-gradient(0deg, #fff 2%, rgba(235, 238, 240, 0.36) 98%);
  border-radius: 50%;
}

.box__header {
  display: flex;
  margin-top: 5px;
  margin-bottom: 24px;
}

.main-heading {
  margin-bottom: 0;
  font-weight: 600;
}

.box__content {
  flex-grow: 1;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  border-top: 1px solid $grey-2;

  &:first-of-type {
    border-color: $grey-3;
  }
}

.item__text {
  display: flex;
  flex-direction: column;
  max-width: 440px;
}

.item__title {
  margin-bottom: 6px;
  font-weight: 600;

  .is-done & {
    margin-bottom: 0;
    color: $grey-6;
  }
}

.item__description {
  color: $grey-6;
  line-height: 1.5;

  .is-done & {
    display: none;
  }
}

.item__complete {
  color: #49A43E;
  font-weight: 600;
  cursor: pointer;
}

// Popups
@value smoothTransition: cubic-bezier(0.19, 1, 0.22, 1);

.modal-section {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, 0) scale(0.94);
  transition: transform 0.5s smoothTransition, opacity 0.3s smoothTransition;
  will-change: opacity;

  &.is-active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
  }

  &:not(.is-active) {
    overflow: hidden;
  }

  &.is-aligned {
    flex-direction: column;
    transform: translate(-50%, -12px) scale(0.94);
    &.is-active {
      transform: translate(-50%, -12px);
    }
  }

  &.transition-delay-1 {
    transition-delay: 0.3s;
  }

  &.transition-delay-2 {
    transition-delay: 0.6s;
  }

  &.no-transition {
    transition: none;
  }
}

.modal-section--spaced {
  width: 350px;
}

.modal-section--narrow {
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.modal-section--wide {
  padding: 30px 30px 0;
}

.modal-section--low-scale {
  transform: translate(-50%, 0) scale(0.98);
}

.modal-section--allset {
  flex-direction: column;
}

.add-agents-fields {
  width: 100%;
}

.narrow-success-message {
  max-width: 300px;
}

.modal-section__wrapper {
  align-self: center;
  max-width: 430px;
  padding: 0 15px 10px;
}

.modal-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  align-self: center;
}

.modal-section__social {
  width: 50%;
  padding: 50px 50px 0;
  font-size: 15px;
  line-height: 1.6;

  &:first-child {
    border-right: 1px solid $grey-2;
  }
}

.heading {
  margin-bottom: 26px;
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
}

.label {
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
  line-height: 1.6;
}

.paired-buttons {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 24px;
}

.messenger-preview {
  margin-top: 40px;
}

.messenger-right-text {
  flex-basis: 365px;
  margin-top: 20px;
  margin-left: 60px;
}

.messenger-right-lede-text {
  line-height: 1.6;
}

.messenger-text-transition {
  animation: messenger-text-in 0.3s ease;
}

@keyframes messenger-text-in {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.list {
  margin-left: 18px;
  margin-bottom: 35px;
  list-style: none;
}

.list-item {
  position: relative;
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 1.6;

  &:before {
    content: '';
    position: absolute;
    top: 8px;
    left: -18px;
    width: 8px;
    height: 8px;
    border: 1px solid rgba(63, 170, 201, 0.45);
    border-radius: 50%;
  }
}

.allset-tick {
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.3s smoothTransition 0.5s;

  .is-active & {
    opacity: 1;
    transform: none;
  }
}

.light-text {
  color: #5F6C73;
}

.gray-box {
  padding: 25px 30px;
  border-top: 1px solid $grey-2;
  background-color: $grey-1;

  &__text {
    font-size: 16px;
    line-height: 1.5;
  }
}

.button-text {
  display: flex;
  align-items: center;
}

.next-step {
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 0 0 5px 5px;
  background-image: linear-gradient(-180deg, #49AFCD 4%, #29A0C2 96%);
  box-shadow: 0 1px 3px 0 rgba(44, 48, 56, 0.09);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.download-container {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.note {
  border-top: 1px solid $grey-2;
  padding-top: 20px;
  margin-top: 20px;
  font-size: 13px;
  color: $grey-6;
}

.space-between {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.copy-button {
  color: $color-link;
  background: none;
  border: none;
  cursor: pointer;
}

.input-addon {
  padding: 5px 8px;
  border: 1px solid $grey-3;
  border-left: none;
  border-radius: 0 3px 3px 0;
  background-color: $grey-2;
  color: #5F6C73;
}

.facebook-pages {
  flex-grow: 1;
  max-width: 350px;
  list-style: none;

  &__item {
    margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid $grey-2;
    line-height: 1.25;
    &:first-child {
      margin-top: 15px;
    }
  }
}

.facebook-pages-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.no-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 18px;
  color: $grey-3;
}

.team-column {
  flex-basis: 360px;
}

.team {
  &__label {
    display: block;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
  }
}

.team-field {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.add-more {
  display: block;
  margin: 5px 0 12px 1px;
  color: $primary-blue;
  cursor: pointer;
}

.remove-team {
  margin-left: 10px;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.12s;

  .team-field:hover & {
    opacity: 1;
  }
}
