.title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 350px;
  font-weight: 600;
}

.caption {
  color: $grey-6;
}

.macros-list {
  position: relative;
}

.loading-state {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(100, 100, 100, 0.05);
}
