.container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $grey-3;
  padding: 9px 0;
  font-size: 12px;
  color: $grey-6;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:first-of-type {
    padding-left: 17px;
  }

  &.sortable {
    cursor: pointer;
  }
}

.dense {
  &:first-of-type {
    padding-left: 0;
  }
}

.ellipsis {
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selected {
  color: $primary-blue;
}
