.avatar-loading {
  width: 42px;
  height: 42px;
  border-radius: 2px;
  background-color: $grey-2;
}

.icon {
  background: #EBEEF0;
  width: 42px;
  height: 42px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.title {
  color: #2D3138;
  margin-right: 5px;
  font-weight: 600;
}

.avatar {
  width: 42px;
  height: 42px;
}

.updated {
  color: #838D94;
}

.domains {
  display: flex;
}

.domain {
  color: #838D94;
  margin-right: 5px;
}

.domainFirst {
  color: #2D3138;
}

.separator {
  color: #A1AAAF;
  margin-right: 5px;
}

.loading-separator {
  color: $grey-1;
  margin: 5px;
}
