.trigger {
  outline: none;
}

.dropdown {
  composes: dropdown from 'frontend-cp/components/ko-info-bar/shared';

  :global(.ember-power-select-options) {
    list-style: none;
    margin: 0 -1px;
    user-select: none;
    overflow-y: auto;
    max-height: 196px;
  }

  :global(.ember-power-select-option) {
    font-size: 14px;
    line-height: 18px;
    padding: 7px 14px;
    cursor: pointer;
    word-wrap: break-word;
    overflow-wrap: break-word;

    &[aria-current="true"] {
      background-image: linear-gradient(-180deg, #49AFCD 4%, #29A0C2 96%);
      box-shadow: $box-shadow1;
      color: #FFFFFF;

      & > *, :global(.i-chevron-large-left), :global(.i-chevron-large-right) {
        color: #FFFFFF;
      }
    }
  }
}
