.card-group {
  padding-top: 18px;
  display: flex;
}

.group-title {
  width: 25%;
  font-size: 16px;
  color: $grey-8;
}

.group-label {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}

.group-body {
  width: 75%;
}

.card {
  padding: 20px 15px;
  background: $grey-1;
  border-radius: 2px;
  margin-top: 9px;
  position: relative;
}

.about-card {
  margin-bottom: 17px;
}

.delete-handle {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;

  &:hover svg path {
    fill: $color-bad;
  }
}

.card-type {
  color: $grey-4;
  font-size: 18px;
  position: relative;
  top: -5px;
  margin-left: 5px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

.card:hover .card-type {
  opacity: 1;
  pointer-events: auto;
}

.card-type-label {
  opacity: 0;
}

.card-type-label.isDefault {
  position: relative;
  top: -5px;
  opacity: 1;
}

.card-type.isDefault {
  color: $color-warning;
  cursor: auto;
  opacity: 1;
  pointer-events: auto;
}

.card-type-label {
  color: $grey-4;
  font-size: 13px;
  margin-left: 5px;
}
