.file-upload {
  width: 100%;
  margin-bottom: 8px;
  padding: 13.5px;
  border-bottom: 1px solid $grey-3;
  max-height: 300px;
  overflow: auto;
}

.overflowed {
  border-top: 1px solid $grey-3;
}

.files {
  list-style-type: none;
}
