.container {
  display: flex;
  align-items: center;
  height: 100%;
  flex-shrink: 1;

  path {
    transition: fill 0.2s ease-out;
  }
}

.text {
  margin-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  flex-shrink: 1;
  transition: color 0.2s ease-out;
}

.dormant {
  color: $grey-7;

  path {
    fill: $grey-4;
  }
}
