.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  flex-direction: column;
  padding: 0 20px;
  height: 650px;
}

.error-description {
  color: #838D94;
  font-size: 16px;
}

.email-view {
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin:0;
}

.email-header {
  height: 150px;
  padding: 18px 22.5px 0;
  border-bottom: 1px solid #cbcfd1;
}

.email-details {
  display: table;
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: table-row;

    label {
      display: table-cell;
      padding-right: 45px;
      color: #2d3138;
      font-weight: 600;
      white-space: nowrap;
    }

    span {
      display: table-cell;
    }
  }
}

.email-content {
  padding: 18px 22.5px 0;
  height: 553px;
}

.fadeIn {
  position: absolute;
  top: 222px;
  left: 0;
  right: 0;
  height: 18px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
}

.header-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 18px 18px 0;
}

.header-header {
  margin-top: 4px;
  color: #2d3138;
  font-weight: 600;
}
