.index {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.content-container {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.content {
  width: 100%;
  max-width: 1100px;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  padding: 18px;
}
