.index {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  padding: 18px;
  overflow: auto;
  margin-bottom: 40px;
}
