{{page-title (t "insights.title")}}

<div local-class="index">
  {{ko-insights/sidebar}}
  <div local-class="content" class="{{qa-cls "qa-layout_two-columns__content"}}">
    {{outlet}}
  </div>
</div>
