.prefixed-input {
  display: flex;
  align-items: center;
  border: 1px solid $grey-3;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  width: 285px;
  transition: border-color 0.1s, box-shadow 0.1s;
}

.prefixed-input.focused {
  @extend %brand-focus;
}

.prefixed-input-prefix {
  background-color: #eeeeee;
  padding: 5px 9px;
}

.prefixed-input-input {
  line-height: 18px;
  padding: 5px 9px;
  border: none;
  width: 100%;

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: #eeeeee;
    color: #A1AAAF;
  }
}
