.info-card {
  display: flex;
  align-items: center;
  padding: 0 18px;
}

.org-logo {
  border-radius: 2px;
  overflow: hidden;
}

.requester-overview {
  display: flex;
  flex-direction: column;
  min-height: 42px;
  flex-shrink: 1;
}

.overview-row {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}

.requester-name {
  font-weight: 600;
}

.requester-organization {
  color: #838D94;
  font-size: 14px;
  padding-left: 5px;
  margin-right: 5px;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.organization-row {
  display: flex;
  align-items: center;

  &:hover .cancel-icon {
    opacity: 1;
  }
}

.avatar-container {
  position: relative;
  border-radius: 3px;
  transition: 0.2s all ease;

  > div {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.25;
    background: rgba(0, 0, 0, 0.15);
    transition: 0.2s all ease;
    border-radius: 3px;
  }

  &:hover:not([aria-expanded="true"]) > div {
    background: rgba(0, 0, 0, 0.15);
    opacity: 1;
  }
}

.cancel-icon {
  cursor: pointer;
  border-radius: 50%;
  background-color: $grey-4;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  height: 12px;
  width: 12px;
  transition: all 0.2s ease;
  &:hover {
    background-color: $color-bad;
  }

  > div {
    height: inherit;
    width: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
  }
}

.org-removal-loader {
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.org-removal-text {
  padding-left: 4px;
  font-style: italic;
  color: $grey-6;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
