.list {
  width: 100%;

  & + & {
    margin-top: 36px;
  }
}

.header {
  color: $grey-6;
  font-size: 12px;
  padding-bottom: 13.5px;
  border-bottom: 1px solid #D1D5D7;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
