<div local-class="box">
  <span local-class="box__number">{{inline-svg "onboarding/2"}}</span>
  <div local-class="box__content">
    <img src="/images/welcome/experience-kayako.png" width="397" height="206">
    <div local-class="box__text">
      <h5 local-class="box__title">{{t "onboarding.experience.title"}}</h5>
      <p local-class="box__description">{{t "onboarding.experience.description"}}</p>
      {{#ko-button}}
        {{t "onboarding.experience.cta"}}
      {{/ko-button}}
    </div>
  </div>
</div>
