.main-container {
  display: flex;
}

.sidebar {
  width: 256px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  height: 100%;
  min-height: calc(100vh - 55px);
}

.main-content {
  max-width: calc(100% - 256px);
  width: 100%;
  padding: 16px;
}

.hidden {
  display: none;
}
