.container {
  position: relative;
  padding: 0px 18px;
  cursor: pointer;
  min-height: 64px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: background-color 0.15s ease;
  animation: slide 0.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  will-change: transform, opacity;

  &:nth-child(1) {
    animation-delay: 0.05s;
  }

  &:nth-child(2) {
    animation-delay: 0.1s;
  }

  &:nth-child(3) {
    animation-delay: 0.15s;
  }

  &:nth-child(4) {
    animation-delay: 0.2s;
  }

  &:nth-child(5) {
    animation-delay: 0.25s;
  }

  &:nth-child(6) {
    animation-delay: 0.3s;
  }

  &:nth-child(7) {
    animation-delay: 0.35s;
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.container-read-only {
  cursor: default;
}

.is-active {
  background-color: $trivial-blue;

  & .icon {
    color: $primary-blue;
  }
  & .action {
    visibility: visible;
  }
}

.icon {
  display: inline-block;
  padding: 0 9px 0 4.5px;
  font-size: 20px;
  @extend %i-color-grey--dark;
}

.content {
  @include truncate(90%);
  display: inline-block;
  padding-right: 36px;
  vertical-align: sub;

  /**
   * The server returns <em> tags no matter what
   * This is what we can an edge case, styled <em>
   * to look like <strong>
   */
  em {
    font-style: normal;
    font-weight: 600;
  }
}

.action {
  @extend %u-v-center;
  right: 9px;
  visibility: hidden;
  color: $primary-blue;
  font-style: italic;
  font-size: 12px;
}

.link {
  color: #2D3138;
  width: 100%;

  &:hover {
    color: #2D3138;
  }
}

.read-only {
  color: #2D3138;
  width: 100%;
}
