.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  flex-direction: column;
  padding: 0 20px;
}

.image-container {
  width: 380px;
  height: 222px;
  overflow: hidden;
}

.image {
  width: 380px;
  padding-bottom: 25px;
}

.header {
  max-width: 570px;
  font-size: 30px;
  text-align: center;
}

.body {
  max-width: 570px;
  color: #838D94;
  font-size: 16px;
  text-align: center;
}
