<div local-class="container">
  <div local-class="image">
    {{yield "image"}}
  </div>
  <div local-class="body">
    <h3 local-class="header" class="{{qa-cls "qa-agent-content_timeline-header__header"}}">{{yield "header"}}</h3>
    <div local-class="subheader">{{yield "subheader"}}</div>
  </div>
</div>
