.item {
  padding: 6px 9px;
  line-height: 18px;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
  margin: 0 -1px;

  a {
    display: block;
    color: #2D3138;
  }

  &:hover:not(.disabled) {
    background-color: $primary-blue;
    border: 1px solid $primary-blue;
    color: #FFFFFF;

    a {
      color: #FFFFFF;
    }
  }
}

.disabled {
  color: #A1AAAF;
  cursor: default;
}
