.container {
  display: flex;
  align-items: center;
  border: 1px solid $grey-1;
  border-radius: 3px;
  padding: 0 9px;
  font-weight: 600;
  user-select: none;

  &:hover {
    border: 1px solid $grey-3;
    border-radius: 3px;
    background-color: #FFFFFF;
  }
}

.container-open {
  border: 1px solid $grey-3;
  border-radius: 3px;
  background-color: $grey-1;
}

.chevron {
  margin-left: 3px;
  transition: transform 0.125s;
}

.chevron-up {
  transform: rotate(180deg);
}
