/*
	Brand configuration
   ========================================================================== */

%brand-focus {
  outline: none;
  border-color: $primary-blue;
  box-shadow: #D8EEF4 0 0 0 2px;
}
