$z-notification: 1300;
$z-overlay: 1200;
$z-sticky: 1100;
$z-modal-default: 60;
$z-modal-editor: 61;
$z-modal-example-higher: 62;
$z-tooltip: 60;
$z-menu-action: 60;
$z-pagination: 40;
$z-dropdown: 30;
$z-raised: 20;
$z-default: 10;
$z-assigned: 1;
$z-hidden: -1;
