.search {
  margin-bottom: 18px;
  display: flex;
  justify-content: flex-end;
}

.teams {
  display: flex;
  flex-wrap: wrap;
  margin-left: -18px;
}

.team {
  width: 50%;
  padding-left: 18px;
}

.team-title {
  font-weight: 600;
}

.secondary {
  color: $grey-6;
}
