.suggestions-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.suggested-heading {
  margin: 18px 18px 9px 18px;
  padding-bottom: 9px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #838D94;
  border-bottom: solid 1px #D1D5D7;
}

.centered-loader {
  right: 0;
  left: 0;
  margin: auto;
}

.no-cases-placeholder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.no-cases-text {
  font-size: 15px;
  color: $grey-6;
  margin-top: 18px;
  width: 40%;
  text-align: center;
}
