.container {
  padding: 9px 15px 15px 15px; /* dropdown styles already include 6px padding */
  display: flex;
}

.avatar {
  margin-right: 15px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-weight: 600;
  font-size: 16px;
  color: $grey-8;
  letter-spacing: -0.23px;
  line-height: 20px;
}

.email {
  font-size: 14px;
  color: $grey-6;
  letter-spacing: -0.2px;
  line-height: 18px;
}
