.instant-entity-component {
  position: relative;
}

.search-add-user-input {
  padding: 18px 15px 14px 40px;
  border: none;
  border-bottom: 1px solid #3AA6C5;
  width: 100%;
  font-size: 15px;
  transition: all 0.5s ease;

  &.cancellable {
    padding-right: 40px;
  }

  &[disabled] {
    border-bottom-color: $grey-3;
    color: $grey-5;
  }

  &.invalid {
    border-bottom-color: $color-bad;
  }
}

.cancel-icon {
  cursor: pointer;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 10px;
  border-radius: 50%;
  background-color: $grey-4;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $color-bad;
  }
}

.instant-entity-input-container {
  position: relative;

  .loader-container {
    position: absolute;
    left: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    img {
      height: 15px;
    }
  }
}

.instant-entity-results {
  position: absolute;
  background-color: #FFFFFF;
  width: calc(100% + 36px);
  left: -18px;
  top: 100%;
  z-index: 5;
}

.instant-entity-list {
  max-height: 350px;
  overflow: auto;
  &.has-results {
    box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.06), 0 2px 1px -2px rgba(44, 48, 56, 0.09);
    border-bottom: 1px solid #D1D5D7;
    padding: 10px 18px;
  }
}

.disable-cursor-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  display: none;

  &.show {
    display: block;
  }
}
