.trigger {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.input {
  outline: none;
  border: none;
  width: 100%;
  padding: 0 0 0 9px;
  margin-right: 20px;
  line-height: 34px;
}

.input:disabled {
  background-color: #eeeeee;
}

.loading {
  composes: loading from '../shared';
}
