.title {
  font-size: 30px;
  font-weight: 300;
  line-height: 38px;
  color: #000000;
  text-align: center;
  margin-bottom: 9px;
  margin-top: 40px;
}

.subtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #838D94;
  text-align: center;
  margin-bottom: 24px;
}

.container {
  position: relative;
}

.content {
  max-width: 972px;
  margin: 0 auto 40px;
  padding: 36px 95px 36px 60px;
  border: 1px solid #d1d5d7;
  border-radius: 5px;

  position: relative;

  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  margin: 18px 0;
  background-image: url('/images/welcome/squiggle.png');
  background-position: left center;
  background-repeat: no-repeat;
}

.text {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 30px 0 35px;
}

.header {
  font-weight: 600;
  font-size: 16px;
}

.description {
  /* IE11 fix */
  box-sizing: border-box;
  max-width: 100%;

  color: #5F6C73;
  margin-bottom: 16px;
}

.image-container {
  flex-grow: 0;
  width: 480px;
}

.bar {
  width: 100%;
}

.image {
  width: 100%;
  border: 1px solid #D1D5D7;
  border-width: 0 1px 1px;
  border-radius: 0 0 3px 3px;
}
