.inner {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  font-size: 16px;
  text-align: left;
  background: #FFFFFF;
  box-shadow: 0 3px 9px $grey-3;
  z-index: 9998;
  -webkit-font-smoothing: antialiased;
}

.app-details {
  display: flex;
  flex-shrink: 1;
  justify-content: flex-start;
  align-items: center;
}

.close-button {
  margin-left: 9px;
  display: block;
  font-size: 14px;
  text-align: center;
  color: $grey-1;
  text-decoration: none;
  -webkit-font-smoothing: subpixel-antialiased;
}

.icon {
  margin: 9px;
}

.icon img {
  height: 62px;
  border-radius: 12px;
  border: 1px solid $grey-3;
}

.info {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
}

.title {
  font-style: 600;
  font-weight: 600;
  font-size: 16px;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.view-button {
  margin: 0 9px;
  font-style: 600;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #0077ff;
  text-transform: uppercase;
  text-decoration: none;
}
