.left-navigation {
  width: 60px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.left-navigation-section {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 50px;
  margin-bottom: 10px;
  background: url("/images/brand/kayako-logo.svg") no-repeat center center;
  background-size: 55%;
}

.left-navigation-item {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;

  &:global(.active):not(:global(.ember-transitioning-out)), &:global(.ember-transitioning-in) {
    background-color: #231D2A;
  }
}

.case-count-pill {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #42AECE;
  padding: 0px 6px;
  border-radius: 20px;
  color: #FFF;
  font-weight: 600;
  font-size: 12px;
}

.main {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
}

.header {
  height: 55px;
  border-bottom: 1px solid $grey-3;
  display: flex;
  position: relative; /* required for search, can remove when it's moved in the DOM */
  background-color: #222222;
}

.tabs {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  height: 51px;
}

.header-secondary {
  display: flex;
  align-items: center;
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.search-icon svg {
  height: 20px;
  width: 20px;
  color: $grey-4;
  transition: color 0.2s ease;

  &:not(.is-active):hover {
    path {
      fill: $grey-6;
    }
  }
}

.outlet {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  overflow: auto;
}

@media print {
  .outlet {
    overflow: visible !important;
  }
}
