.ribbon {
  background: #F15713;
  width: 100%;
  height: 33px;
  color: #fff;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  z-index: 200;
}

.button {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 2px 14px;
  border-radius: 3px;
  border: none;
  z-index: 200;
  cursor: pointer;
  margin-left: 15px;
  position: absolute;
  right: 10px;
}
