{{! template-lint-disable bare-strings }}

{{#if apps.isDevMode}}
  <div local-class="ribbon">
    <span>Apps Developer Mode</span>
    <span local-class="button" onclick={{action "exitDevMode"}}>Switch back to production mode</span>
  </div>
{{/if}}
