.main {
  padding: 9px;
  height: 420px;
  display: flex;
  flex-direction: column;
  background: $grey-1;
}

.main-confirmation {
  padding: 9px 18px;
  height: 318px;
}

.header {
  font-size: 21px;
  color: #000000;
  line-height: 27px;
}

.body {
  padding-top: 6px;
  font-size: 13px;
  color: $grey-6;
}

.button {
  margin-right: 8px;
}

.button-loading-container {
  width: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-heading {
  margin: 18px 18px 9px 18px;
  padding-bottom: 9px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3ea9c9;
  border-bottom: solid 1px #D1D5D7;
}

.conversations-selected {
  color: #889297;
}

.buttons {
  display: flex;
}

.primary-conversation-container {
  padding: 18px;
  background-color: #F6F7F1;
  border-bottom: 1px solid #D1D5D7;
}

.primary-conversation-message {
  margin: 0 0 18px 0;
  padding-left: 3px;
  font-size: 16px;
}

.primary-conversation {
  padding: 7px 0;
  color: #98A162;
  background-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  box-shadow: $box-shadow1;
}
