.shared {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  height: 30px;
  font-size: 14px;
  white-space: nowrap;
  transition: 0.15s;

  &.size--medium {
    height: 36px;
  }

  &.size--wide {
    height: 36px;
    padding-left: 50px;
    padding-right: 50px;
  }

  &.align--center {
    margin-left: auto;
    margin-right: auto;
  }

  &.has-margin {
    margin-bottom: 14px;
  }

  &.fixed-width {
    width: 240px;
  }
}

.span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  .has-animation.is-loading & {
    opacity: 0;
  }
}

.disabled,
.is-loading {
  pointer-events: none;
  opacity: 0.6;
  cursor: default;
}

.full {
  width: 100%;

  .span {
    width: 100%;
  }
}

.naked {
  composes: shared;

  line-height: 30px;
  color: #5F6C73;
  margin: 0 12px;
  border: none;

  &.size--medium {
    line-height: 36px;
  }
}

.chrome {
  composes: shared;

  border-radius: 3px;
  font-weight: 600;
  box-shadow: $box-shadow1;

  &:focus:not(.disabled):not(.is-loading):not(.primary-with-options) {
    box-shadow: #D8EEF4 0 0 0 2px;

    &.note {
      box-shadow: #FFEDBD 0 0 0 2px;
    }
  }
}

.primary {
  composes: chrome;

  padding: 0 19px;
  background-color: #49AFCD;
  box-shadow: inset 0 -18px 40px -20px #29A0C2, 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  color: #fff;
  transition: background-color 0.2s, opacity 0.3s;

  &:hover:not(.disabled) {
    background-color: darken(#49AFCD, 8%);
  }

  &.note {
    background-color: #D7A620;
    box-shadow: inset 0 -18px 40px -20px #b9891f, 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    &:hover:not(.disabled),
    &[aria-expanded] {
      background-color: darken(#D7A620, 8%);
    }
  }
}

.primary-with-options {
  composes: chrome;
  padding: 0 19px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid rgba(45, 49, 56, 0.25);
  background-image: linear-gradient(-180deg, #49AFCD 4%, #29A0C2 96%);
  color: #fff;
  &:hover:not(.disabled) {
    background-image: linear-gradient(-180deg, #469FBB 4%, #2993B1 96%);
  }

  :global(.channel-type--twitter) & {
    background-image: linear-gradient(-180deg, #1DA1F2 4%, #0F96E9 96%);
    &:hover:not(.disabled) {
      background-image: linear-gradient(-180deg, darken(#1DA1F2, 5%) 4%, darken(#0F96E9, 5%) 96%);
    }
  }

  :global(.channel-type--facebook) & {
    background-image: linear-gradient(-180deg, #3B5998 4%, #2C4986 96%);
    &:hover:not(.disabled) {
      background-image: linear-gradient(-180deg, darken(#3B5998, 5%) 4%, darken(#2C4986, 5%) 96%);
    }
  }

  :global(.channel-type--messenger) & {
    background-image: linear-gradient(-180deg, #F1703F 4%, #DD5522 96%);
    &:hover:not(.disabled) {
      background-image: linear-gradient(-180deg, darken(#F1703F, 5%) 4%, darken(#DD5522, 5%) 96%);
    }
  }

  &.note {
    background-image: linear-gradient(-180deg, $color-note-border 4%, #D19F18 96%);
    &:hover:not(.disabled),
    &[aria-expanded] {
      background-image: linear-gradient(-180deg, darken($color-note-border, 5%) 4%, darken(#D19F18, 5%) 96%);
    }
  }
}

.bordered {
  composes: chrome;

  padding: 0 18px;
  border: 1px solid;
  background: #fff;
}

.default {
  composes: bordered;

  border-color: $grey-3;
  color: #5F6C73;

  &:hover:not(.disabled) {
    border-color: #A1AAAF;
    color: #2D3138;
  }
}

.highlight {
  composes: bordered;

  border-color: $primary-blue;
  color: $primary-blue;

  &:hover:not(.disabled) {
    border-color: #4796AD;
    color: #4796AD;
  }
}

.alert {
  composes: bordered;

  border-color: $color-bad;
  color: $color-bad;

  &:hover:not(.disabled) {
    border-color: #CC5845;
    color: #CC5845;
  }
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 14px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    background: linear-gradient(to right, #39A7C7 0%, rgba(57, 167, 199, 0) 20%, rgba(57, 167, 199, 0) 80%, #39A7C7 100%);

    :global(.channel-type--messenger) & {
      background: linear-gradient(to right, #DD5522 0%, rgba(57, 167, 199, 0) 20%, rgba(57, 167, 199, 0) 80%, #DD5522 100%);
    }
    :global(.channel-type--facebook) & {
      background: linear-gradient(to right, #2C4986 0%, rgba(57, 167, 199, 0) 20%, rgba(57, 167, 199, 0) 80%, #2C4986 100%);
    }
    :global(.channel-type--twitter) & {
      background: linear-gradient(to right, #0F96E9 0%, rgba(57, 167, 199, 0) 20%, rgba(57, 167, 199, 0) 80%, #0F96E9 100%);
    }
  }

  .is-loading & {
    opacity: 1;
    visibility: visible;
  }

  .size--medium &,
  .size--wide & {
    padding-top: 17px;
  }
}

.note .loading:after {
  background: linear-gradient(to right, #D7A620 0%, rgba(57, 167, 199, 0) 20%, rgba(57, 167, 199, 0) 80%, #D7A620 100%);
}

.loading__dot {
  position: absolute;
  left: calc(50% - 2px);
  padding: 2px;
  border-radius: 50%;
  background: #fff;
  animation: loading-dots 1s ease-in-out 0s infinite;
  &:nth-child(2) {
    animation-delay: 0.15s;
  }
  &:nth-child(3) {
    animation-delay: 0.3s;
  }
  &:nth-child(4) {
    animation-delay: 0.45s;
  }
}

@keyframes loading-dots {
  0% {
    transform: translateX(-80px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(80px);
    opacity: 0;
  }
}
