<div local-class="seeMore">
  <div local-class="link">
    <div onclick={{action "clickHandler"}} local-class="button" class="{{qa-cls "qa-ko-universal-search_result-see-more_link"}}">
      {{t "search.seemore"}}
    </div>
  </div>
</div>
