.item {
  width: 100%;
  padding-bottom: 9px;

  &:last-of-type {
    padding-bottom: 0;
  }
}

.action {
  padding-right: 4.5px;
  cursor: pointer;

  @include icon {
    color: #A1AAAF;
  }
}

.name {
  padding-right: 4.5px;
}

.name--is-progressing {
  color: $grey-6;
}

.size {
  color: #A1AAAF;
}

.error {
  color: $color-bad;
}

.percentage {
  color: $color-good;
}
