.unread-count {
  width: 24px;
  height: 18px;
  background-color: $color-bad;
  color: #FFF;
  text-align: center;
  font-weight: 600;
  border-radius: 100px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.06), 0 1px 3px 0 rgba(44, 48, 56, 0.09);
}
