.disabled {
  color: #838D94;
  font-weight: 500;
  margin-left: 5px;
}

.set-organization {
  font-style: italic;
  color: #838D94;
  display: inline-block;
  border-bottom: 1px dotted #838D94;
  margin-top: 1px;
  margin-left: 5px;
}

.setting-organization {
  border-bottom: 0;
  margin-top: 0;
  font-style: normal;
  margin-left: 0;
}

.hidden {
  visibility: hidden;
}

.tab-loader {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}
