.description {
  padding-top: 18px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid $grey-3;
  background-color: $grey-1;
  color: $grey-7;
}

.heading {
  text-align: center;
  color: $grey-7;
}

.devices {
  display: flex;
}

.device {
  display: flex;
  flex-basis: calc(33% - 40px);
  margin-bottom: 22px;
}

.vertical-separator {
  width: 1px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: linear-gradient(to bottom, transparent, $grey-3);
}

.device-text {
  flex-shrink: 1;
  margin-top: 6px;
  margin-left: 14px;
}

.device-label {
  margin-bottom: 5px;
  font-weight: 600;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 265px;
}

.list {
  padding: 14px 24px;
}

.table {
  width: 100%;
}

.list-row {
  &:nth-child(2) {
    border-top: 1px solid $grey-3;
  }

  border-bottom: 1px solid $grey-3;
}

.list-row-old {
  &:nth-child(2) {
    border-top: 1px solid $grey-3;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $grey-3;
  }
}

.list-head {
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 600;

  &:not(:first-child) {
    text-align: center;
    width: 70px;
  }
}

.list-data {
  padding-top: 14px;
  padding-bottom: 14px;
}

.list-header {
  text-transform: uppercase;
  color: $grey-6;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
}

.buttons {
  display: flex;
  align-items: center;
}

.sound-preferences-container {
  display: flex;
  justify-content: space-between;
  background: #f5f5f5;
  margin: 10px 24px 14px;
  border-radius: 4px;
  padding-left: 14px;
}

.sound-preferences {
  display: inherit;
  flex-basis: 80%;
}

.sound-preference {
  flex-basis: 50%;
  padding-top: 10px;
}

.sound-icon {
  padding: 14px 20px;
}
