.item {
  position: relative;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 2px;
    width: 100%;
    background-color: $primary-blue;
    transform: scaleY(0);
    transition: transform 0.2s;
  }

  &:hover:after {
    transform: none;
  }

  :global(.ember-basic-dropdown-trigger:focus) {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.itemWrap {
  display: flex;
  align-items: center;
  padding: 0 9px;
}

.item-disabled {
  cursor: default;

  .icon {
    color: $grey-4;
  }
}

.buttonsDropdownItem {
  display: flex;
  align-items: center;

  padding: 4.5px 9px;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;

  .icon {
    margin-right: 5px;
  }

  &:hover {
    background-color: $primary-blue;
    border: 1px solid $primary-blue;
    color: #FFFFFF;

    .icon {
      color: #FFF;
    }

    svg path {
      fill: #FFF;
    }
  }
}

.buttonsDropdownItemText {
  margin-left: 5px;
}

@media screen and (max-width: 1239px) {
  .item.itemSecondary {
    display: none;
  }
}
