.side-panel {
  width: 384px;
  max-width: 0;
  height: 100%;
  border-left: 1px solid $grey-3;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease, opacity 0.3s ease, max-width 0.3s ease;
  pointer-events: none;
}

.side-panel.open {
  max-width: 384px;
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.side-panel-header {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
  border-bottom: 1px solid $grey-3;
  height: 52px;
}

.back-icon {
  display: inline-flex;
  padding: 8px;
  margin-left: -8px;
  cursor: pointer;

  &:hover:not([aria-disabled]) {
    background-color: $grey-1;

    svg path {
      fill: $primary-blue
    }
  }
}

.add-button {
  display: inline-flex;
  margin-left: auto;
  cursor: pointer;
  padding: 2px;

  &:hover:not([aria-disabled]) {
    background-color: $grey-1;

    svg path {
      fill: $primary-blue
    }
  }
}

.hidden {
  display: none;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 380px;
}

.subtitle {
  font-weight: normal;
  font-size: 12px;
  color: $grey-7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 380px;
}
