.sender-name {
  background: rgba(78, 175, 203, 0.18);
  border-radius: 100px;
  display: inline-flex;
  padding: 4px 10px;
  margin-left: 4px;
}

.separator {
  margin: 0 4px;
}

.agent {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 4px;
}
