html {
  font-family: 'Source Sans Pro K', Sans-Serif, serif;
  font-size: (14px / 16px) * 1em;
  line-height: 18px;
  color: $grey-8;
  overflow: hidden;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul, li,
form, fieldset, legend,
figure, caption,
table, th, td,
hr, nav, section, header, button {
    margin:  0;
    padding: 0;
    min-width: 0;
    flex-shrink: 0;
}

a {
  flex-shrink: 0;
}

table, tbody, thead, tr, td, th {
  margin:  0;
  padding: 0;
  flex-shrink: 0;
}

body div,
body span {
  min-width: 0;
  flex-shrink: 0;
}

input {
  flex-shrink: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body > .ember-view {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  overflow: hidden;
}
@media print {
  .ember-view {
    overflow: visible !important;
    display: block !important;
  }
}

.ember-view svg, #ember-basic-dropdown-wormhole svg {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* ==========================================================================
   	Typography
   ========================================================================= */
h1, h2, h3,
h4, h5, h6 {
  margin: 0 0 16px;
  font-family: 'Source Sans Pro K', Sans-Serif, serif;
  font-weight: 400;
  color: $grey-8;
}
h1 {
  @include font-size-with-line-height(36px);
}
h2 {
  @include font-size-with-line-height(27px);
}
h3 {
  @include font-size-with-line-height(21px);
}
h4 {
  @include font-size-with-line-height(18px);
}
h5 {
  @include font-size-with-line-height(16px);
}
h6 {
  @include font-size-with-line-height(14px);
}


a {
  cursor: pointer;
  text-decoration: none;
  color: $color-link;
}

*, *:before, *:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
  flex-shrink: 0;

  &[width], &[height] {
    max-width: none;
  }
}

input {
  color: $grey-8;
}

::-webkit-input-placeholder {
  color: $grey-8;
  opacity: 0.6;
}

::-ms-input-placeholder {
  color: $grey-4;
  opacity: 1 !important;
}

b, strong {
  font-weight: 600;
}

::-ms-clear {
  display: none;
}

.hide {
  visibility: hidden;
}
