@font-face {
  font-family: 'Source Sans Pro K';
  src: url('/fonts/source-sans-pro-regular.eot'),
       url('/fonts/source-sans-pro-regular.woff2') format('woff2'),
       url('/fonts/source-sans-pro-regular.woff') format('woff'),
       url('/fonts/source-sans-pro-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Source Sans Pro K';
  src: url('/fonts/source-sans-pro-regular-italic.eot'),
       url('/fonts/source-sans-pro-regular-italic.woff2') format('woff2'),
       url('/fonts/source-sans-pro-regular-italic.woff') format('woff'),
       url('/fonts/source-sans-pro-regular-italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Source Sans Pro K';
  src: url('/fonts/source-sans-pro-light.eot'),
       url('/fonts/source-sans-pro-light.woff2') format('woff2'),
       url('/fonts/source-sans-pro-light.woff') format('woff'),
       url('/fonts/source-sans-pro-light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Source Sans Pro K';
  src: url('/fonts/source-sans-pro-light-italic.eot'),
       url('/fonts/source-sans-pro-light-italic.woff2') format('woff2'),
       url('/fonts/source-sans-pro-light-italic.woff') format('woff'),
       url('/fonts/source-sans-pro-light-italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Source Sans Pro K';
  src: url('/fonts/source-sans-pro-semibold.eot'),
       url('/fonts/source-sans-pro-semibold.woff2') format('woff2'),
       url('/fonts/source-sans-pro-semibold.woff') format('woff'),
       url('/fonts/source-sans-pro-semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Source Sans Pro K';
  src: url('/fonts/source-sans-pro-semibold-italic.eot'),
       url('/fonts/source-sans-pro-semibold-italic.woff2') format('woff2'),
       url('/fonts/source-sans-pro-semibold-italic.woff') format('woff'),
       url('/fonts/source-sans-pro-semibold-italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'Source Sans Pro K';
  src: url('/fonts/source-sans-pro-bold.eot'),
       url('/fonts/source-sans-pro-bold.woff2') format('woff2'),
       url('/fonts/source-sans-pro-bold.woff') format('woff'),
       url('/fonts/source-sans-pro-bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot'),
       url('/fonts/icomoon.woff2') format('woff2'),
       url('/fonts/icomoon.ttf') format('truetype'),
       url('/fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-cross-circle:before {
    content: "\e905";
}
.i-star:before {
    content: "\e903";
}
.i-event-twitter:before {
    content: "\e643";
}
.i-check-circle:before {
    content: "\e904";
}
.i-happy-outline:before {
    content: "\e63e";
}
.i-sad-outline:before {
    content: "\e641";
}
.i-dragstrip:before {
    content: "\e63b";
}
.i-add-circle:before {
    content: "\e62f";
}
.i-caution-solid:before {
    content: "\e63c";
}
.i-phone-accept:before {
    content: "\e634";
}
.i-phone-decline:before {
    content: "\e635";
}
.i-happy:before {
    content: "\e61f";
}
.i-sad:before {
    content: "\e620";
}
.i-bell:before {
    content: "\e636";
}
.i-plus:before {
    content: "\e60c";
}
.i-cross:before {
    content: "\e642";
}
.i-home:before {
    content: "\e604";
}
.i-help:before {
    content: "\e608";
}
.i-search:before {
    content: "\e616";
}
.i-article:before {
    content: "\e902";
}
.i-organization:before {
    content: "\e900";
}
.i-minus:before {
    content: "\e63f";
}
.i-triangle:before {
    content: "\e640";
}
.i-plus-square:before {
    content: "\e63d";
}
.i-email:before {
    content: "\e63a";
}
.i-eye:before {
    content: "\e637";
}
.i-lock:before {
    content: "\e638";
}
.i-info:before {
    content: "\e633";
}
.i-globe:before {
    content: "\e631";
}
.i-cross-bold:before {
    content: "\e632";
}
.i-paused:before {
    content: "\e62c";
}
.i-bold:before {
    content: "\e624";
}
.i-bullet-list:before {
    content: "\e625";
}
.i-camera:before {
    content: "\e626";
}
.i-italic:before {
    content: "\e627";
}
.i-link:before {
    content: "\e628";
}
.i-number-list:before {
    content: "\e629";
}
.i-users:before {
    content: "\e62b";
}
.i-tick:before {
    content: "\e61d";
}
.i-trash:before {
    content: "\e61e";
}
.i-grid:before {
    content: "\e61a";
}
.i-list:before {
    content: "\e61b";
}
.i-search-small:before {
    content: "\e609";
}
.i-clip:before {
    content: "\e60d";
}
.i-calendar:before {
    content: "\e60e";
}
.i-case:before {
    content: "\e60f";
}
.i-clock:before {
    content: "\e610";
}
.i-icon-help:before {
    content: "\e612";
}
.i-rocket:before {
    content: "\e613";
}
.i-stopwatch:before {
    content: "\e614";
}
.i-user:before {
    content: "\e615";
}
.i-twitter:before {
    content: "\e60b";
}
.i-facebook:before {
    content: "\e60a";
}
.i-chevron-large-left:before {
    content: "\e622";
}
.i-chevron-large-right:before {
    content: "\e623";
}
.i-select:before {
    content: "\e61c";
}
.i-chevron-double-down:before {
    content: "\e618";
}
.i-chevron-double-up:before {
    content: "\e619";
}
.i-chevron-large-down:before {
    content: "\e600";
}
.i-chevron-large-up:before {
    content: "\e601";
}
.i-chevron-small-down:before {
    content: "\e602";
}
.i-chevron-small-up:before {
    content: "\e603";
}
.i-para:before {
  content: "\e90a";
}
.i-clear:before {
  content: "\e909";
}
.i-outdent:before {
  content: "\e90b";
}
.i-indent:before {
  content: "\e90c";
}
