.container {
  position: relative;
  padding: 15px 15px 15px 40px;
  margin-bottom: 9px;
  background-color: $grey-1;
  border-radius: 2px;

  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}

.containerRemoving {
  opacity: 1;
  animation: fadeIn ease-out 1;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4.5px 9px;
  border-radius: 2px 0 5px;
  background-color: #D1D5D7;
  text-transform: uppercase;
  color: #5F6C73;
  font-size: 10px;
  font-weight: 600;
  user-select: none;
  cursor: default;
}

.remove {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 2px;
  cursor: pointer;

  &:hover svg path {
    fill: $color-bad;
  }
}

.add {
  margin-top: 13.5px;
  color: $primary-blue;
  cursor: pointer;
}

.new {
  display: inline-block;
  padding: 2px 4.5px;
  background-color: $color-good;
  border-radius: 2px;
  @include font-size-with-line-height(12px);
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;

  &:before {
    content: '\002B'; /* '+' */
    padding-right: 2px;
    font-weight: 700;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
