.avatar {
  width: 42px;
  height: 42px;
  border-radius: 2px;
}

.title {
  color: #2D3138;
  margin-right: 5px;
  font-weight: 600;
}

.role {
  height: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  margin: 0 6px 0 0;
}

.separator {
  color: #A1AAAF;
  margin-right: 5px;
}

.company {
  color: #2D3138;
}

.icon {
  margin-right: 5px;
}

.identity {
  margin-right: 5px;
  color: #838D94;
}

.identityMain {
  color: #2D3138;
}
