.container {
  padding: 5px 18px;
}

.add-link {
  cursor: pointer;

  &:hover {
    background-color: #EBEEF0;
  }
}

.add {
  margin: 0 5px 0 24px;
  flex-shrink: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  font-size: 12px;
  color: $grey-6;
  line-height: 24px;
}

.add:hover {
  text-decoration: underline;
}

.content {
  padding: 15px 18px;
  background-color: #F7F9FA;
  border: 1px solid #EBEEF0;
  border-radius: 3px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #1F1F1F;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  gap: 10px;
}
