.item {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 9px;
  border-radius: 4px;
  font-size: 15px;
  text-decoration: none;
  color: $grey-8;
  transition: background-color 0.1s;

  &:hover {
    background-color: $grey-1;
    color: $grey-8;
  }

  &.disabled {
    color: rgba(0, 0, 0, 0.3);
  }

  &:global(.active:not(.ember-transitioning-out)),
  &:global(.ember-transitioning-in) {
    background-color: $trivial-blue;
    color: #3B4048;
    font-weight: 600;
  }
}

.icon {
  margin-right: 8px;
}

.text {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.counter {
  padding: 0 6px;
  border-radius: 2px;
  line-height: 20px;
  font-weight: 600;
  font-size: 14px;
  color: $grey-6;

  &.inbox {
    margin-left: 5px;
    background-color: $grey-2;
  }

  :global(.active:not(.ember-transitioning-out)) &,
  :global(.ember-transitioning-in) & {
    color: $primary-blue;
    &.inbox {
      background-color: $primary-blue;
      color: #fff;
    }
  }
}
