.targets {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.target {
  display: flex;
  margin-bottom: 20px;
}

.title {
  display: flex;
  align-items: center;
  min-width: 180px;
  text-align: center;
}

.metrics {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.charts {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.chart {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  padding-right: 50px;
  width: 50%;
  border-right: 1px solid #d1d5d7;
  margin-right: 20px;
  margin-bottom: 30px;

  &:last-child {
    padding-right: 0;
    border-right: none;
    margin-right: 0;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.filtersControls {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
