.sidebar {
  width: 280px;
  margin: 0 15px 15px 15px;
  display: flex;
  flex-direction: column;
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading {
  display: flex;
  margin-left: 11px;
  padding: 29px 0 11px 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: $grey-6;
}

.definitions {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
