.trigger {
  composes: trigger from 'frontend-cp/components/ko-power-select-triggers/chevron/styles';
}

.dropdown {
  background-color: #fff;
  padding: 6px 0;
  margin-top: 5px;
  border: 1px solid $grey-3;
  border-radius: 2px;
  box-shadow: $box-shadow2;
  width: 200px;

  :global(.ember-power-select-options) {
    list-style: none;
    margin: 0 -1px;
    user-select: none;
    overflow-y: auto;
    max-height: 196px;
  }

  :global(.ember-power-select-option) {
    font-size: 14px;
    line-height: 18px;
    padding: 7px 14px;
    cursor: pointer;
    word-wrap: break-word;
    overflow-wrap: break-word;

    &[aria-current="true"] {
      background-image: linear-gradient(-180deg, #49AFCD 4%, #29A0C2 96%);
      box-shadow: $box-shadow1;
      color: #FFFFFF;

      & > *, :global(.i-chevron-large-left), :global(.i-chevron-large-right) {
        color: #FFFFFF;
      }
    }
  }
}
