.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-message {
  /* stylelint-disable-next-line color-named */
  color: white;
  /* stylelint-disable-next-line unit-blacklist */
  font-size: 2em;
}

.article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 16px;
}

.article-title {
  margin: 0;
}

.article-actions {
  display: flex;
}

.article-actions .edit-button, .article-actions .back-button {
  padding: 8px 12px;
  margin-left: 10px;
  background-color: $primary-blue;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.article-actions .edit-button:hover {
  background-color: $color-link-hover;
}

.article-actions .back-button {
  background-color: #6c757d;
}

.article-actions .back-button:hover {
  background-color: #5a6268;
}

.article-meta {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 16px;
  padding-right: 32px;
  padding-bottom: 0;
}

.meta-left {
  display: flex;
  flex-direction: column;
}

.meta-left > * {
  margin-bottom: 16px;
}

.last-modified {
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.article-content-section {
  padding: 16px;
  padding-top: 0;
}

.article-content h3 {
  margin-bottom: 25px;
}

.article-content p {
  /* stylelint-disable-next-line unit-blacklist */
  margin: 0 0 1em
}

.article-content {
  padding-left: 32px;
  padding-right: 32px;
}

.attachments-section {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.attachment-item {
  margin-bottom: 8px;
  margin-left: 16px;
}

.attachment-name {
  font-weight: bold;
  display: inline-block;
  margin-right: 8px;
}

.attachment-size {
  color: #6c757d;
  font-size: 14px;
  margin-right: 8px;
  display: inline-block;
}

.attachment-link {
  margin-right: 8px;
}

.attachment-link:hover {
  text-decoration: underline;
}

.edit-pane-overlay {
  display: flex;
  justify-content: flex-start;
  align-items: stretch; /* Ensure the overlay stretches to full height */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50; /* Should be less than the froala-editor */
  transition: opacity 0.3s ease;
}

.edit-pane {
  display: flex;
  flex-direction: column; /* Ensure the edit-pane can grow with its content */
  background-color: #fff;
  width: 55%;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  right: -55%;
  transition: right 0.3s ease;
  position: absolute;
  padding: 20px;
  padding-top: 0;
  overflow-y: auto;
}

.edit-pane-open {
  right: 0;
}

.tags-section {
  padding: 16px;
  padding-top: 0;
}

.tag-item {
  display: inline-block;
  background-color: #f1f3f5;
  color: #343a40;
  padding: 4px 8px;
  margin: 4px;
  border-radius: 4px;
  font-size: 14px;
}

.edit-pane-content {
  padding-top: 20px;
}
