.field-type {
  position: relative;
  padding: 14px 0;
  border-bottom: 1px solid $grey-2;
  cursor: pointer;
  display: flex;
}

.icon {
  width: 32px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 600;
  margin-bottom: 5px;
}

.action {
  @include child-icon {
    @extend %u-v-center;
    right: 0;
  }
}

.caption {
  color: $grey-6;
}
