
/* ==========================================================================
   	Positioning
   ========================================================================= */

%u-v-center,
.u-v-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.u-flex {
  display: flex;
}

.u-flex-grow {
  flex-grow: 1;
}

.u-relative {
  position: relative;
}
