.u-mbottom {
  margin-bottom: 24px;
}

.u-mbottom--mini {
  margin-bottom: 12px;
}

.u-mbottom--tiny {
  margin-bottom: 6px;
}

.u-mright {
  margin-right: 15px;
}

.u-mright--tiny {
  margin-right: 5px;
}
