.container {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
}

.options {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

.input {
  min-width: 170px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  border: none;
  font-size: 14px;
  line-height: 18px;
  outline: none;
  padding: 0;
  border-bottom: 1px solid transparent;

  &::placeholder {
    color: #A1AAAF;
  }
}

.placeholder {
  padding-left: 5px;
}
