@value smoothTransition: cubic-bezier(0.19, 1, 0.22, 1);

.container {
  height: 100%;
  min-height: calc(100vh - 51px);
  padding-bottom: 40px;
  background-color: $grey-1;
}

.wrapper {
  max-width: 815px;
  margin: 0 auto;
}

.header {
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 300;
}

.subtitle {
  color: $grey-6;
  font-size: 16px;
  line-height: 1.6;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.progress-bar {
  position: relative;
  width: 500px;
  height: 6px;
  margin: 30px auto 0;
  background-color: $grey-2;
  border-radius: 6px;
  overflow: hidden;
}

.progress {
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background-color: $color-online;
  border-radius: inherit;
  transition: transform 1.2s smoothTransition;
}

.progress-tip-container {
  height: 35px;
  overflow: hidden;
}

.progress-tip {
  position: relative;
  width: 500px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  transform: none;
  transition: transform 1.2s smoothTransition;
}

.progress-value {
  position: absolute;
  left: 0;
  top: 10px;
  padding: 3px 10px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(45, 49, 56, 0.05), 0 1px 3px 0 rgba(45, 49, 56, 0.15);
  font-weight: 600;
  transform: translateX(-50%);

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
  }

  &::before {
    top: -6px;
    left: calc(50% - 6px);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #e4e6e7;
  }

  &::after {
    top: -5px;
    left: calc(50% - 5px);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
  }
}
