.app {
  display: flex;
}

.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  padding-right: 9px;
}

.main {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.image {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  width: 150px;
  height: 150px;

  border: 1px solid $grey-6;
  border-radius: 4px;
  background-color: #FFF;
}

.description {
  color: $grey-6;
}

.buttons {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttons > *:not(:first-child) {
  margin-left: 9px;
}
