.form {
  margin: 0 10px;
  border: 1px solid #d1d5d7;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
  padding: 20px;
}

.title {
  margin-bottom: 5px;
  font-weight: 600;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #F7F8F9;
  padding: 10px 20px;
  border-radius: 3px;
}
