.modal-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
}

.modal-content {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.3s ease, visibility 0.3s ease;
  transform: translateX(200px);
  will-change: transform, opacity, visibility;
  &:last-child {
    transform: scaleY(0.78);
  }

  &.is-visible {
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  &.out {
    transform: translateX(-150px) scale(0.9);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.15s ease, visibility 0.15s ease;
  }

  &.out--quick {
    transform: scale(0.8);
    transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.15s ease, visibility 0.15s ease;
  }

  &__inner {
    width: 600px;
  }
}

.modal-action-button {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
  &.is-visible {
    opacity: 1;
    visibility: visible;
  }
}

.padded-content {
  width: 420px;
  margin: 0 auto;
  text-align: center;
}

.qr-image-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  &:before {
    content: '';
    position: absolute;
    top: 19px;
    left: 19px;
    right: 19px;
    bottom: 19px;
    z-index: -1;
    background-color: $grey-1;
  }
}

.all-set-icon {
  display: flex;
  justify-content: center;
  width: 64px;
  height: 64px;
  margin: 0 auto 12px;
  padding-top: 14px;
  border-radius: 50%;
  background-color: #ECEEE3;
}

.all-set-heading {
  margin-bottom: 8px;
  font-size: 24px;
  color: $color-good;
}

.highlighted {
  padding: 22px 35px;
  border-top: 1px solid $grey-3;
  background-color: $grey-1;
}

.recovery-codes {
  column-count: 2;
  font-size: 16px;
  list-style: none;

  &__item {
    margin-bottom: 5px;

    &:before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-right: 16px;
      border: 1px solid $grey-3;
      border-radius: 50%;
    }
  }
}

.copy-button-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.copy-button {
  composes: highlight from 'frontend-cp/components/ko-button/styles';
}

.padded-content--small {
  padding: 0 28px 20px;
}

.disable-otp {
  &-title {
    margin-bottom: 8px;
    font-size: 21px;
    line-height: 1.4;
  }

  &-subtitle {
    font-size: 14px;
    color: $grey-6;
  }
}
