.container {
  display: flex;
  justify-content: space-between;
}

.detailContainer {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  font-size: 16px;
  flex-shrink: 1;
  flex-grow: 1;
}

.top {
  display: flex;
  align-items: center;
}

.bottom {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.right {
  display: flex;
  align-items: center;
}
