.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.avatar-overlay {
  opacity: 0;
  background: rgba(0, 0, 0, 0.15);

  &:hover {
    opacity: 1;
    transition: 0.2s all ease;
  }
}

.loading-overlay {
  background: #40364D;
  border-radius: 3px;
}
