.sandbox-trigger {
  cursor: pointer;
  padding: 0 18px;
  user-select: none;
  outline: none;
  display: flex;
  align-items: center;

  &[aria-expanded="true"] {
    background-color: $grey-2;
  }
}

.sandbox-text {
  font-weight: 600;
}

.sandbox-days {
  color: #959FA5;
}

.sandbox-dropdown {
  border: 1px solid $grey-3;
  max-width: 280px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: $box-shadow2;
}

.list-action-item {
  padding: 9px 18px;
  cursor: pointer;
}

.list-item {
  padding: 9px 18px;
}

.seperator {
  background: $grey-2;
  height: 1px;
  margin: 2px 18px;
  border-style: none;
}

.upgrade {
  padding: 0 18px;
  display: flex;
  align-items: center;
}

.upgrade-text {
  font-weight: 600;
  color: #727F86;
}

.upgrade-action {
  color: #98A162;
}
