<div local-class="toggle {{if expanded "toggle--expanded"}}" class="{{buttonClass}}" onclick={{action onToggle (not expanded)}}>
  <svg width="16px" height="4px" viewBox="911 424 16 4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g transform="translate(911.000000, 424.000000)">
      <rect local-class="dots" x="0" y="0" width="4" height="4" rx="2"></rect>
      <rect local-class="dots" x="6" y="0" width="4" height="4" rx="2"></rect>
      <rect local-class="dots" x="12" y="0" width="4" height="4" rx="2"></rect>
    </g>
  </svg>
</div>
