.toggle {
  display: flex;
  align-self: flex-end;
}

.item {
  border: 1px solid #D1D5D7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 30px;
  cursor: pointer;
  min-width: 76px;

  &:first-child {
    border-right: 0;
    border-radius: 3px 0 0 3px;
  }

  &:last-child {
    border-left: 0;
    border-radius: 0 3px 3px 0;
  }

  &:hover {
    background: $grey-2;
  }
}

.active {
  font-weight: 600;
  background: $grey-2;
}
