<div class="{{smallSlotClass}}">
  {{#ko-select
    selected=automationAction.option
    options=definition.options
    placeholder=(t "admin.automation_actions_builder.select_operator")
    onChange=(action (mut automationAction.option))
    searchEnabled=false
    as |operator|}}
    {{t (concat "admin.automation_actions_builder.operators." operator)}}
  {{/ko-select}}
</div>
{{#if (and automationAction.option requiresValue)}}
  <div class="{{smallSlotClass}}">
    {{ko-select/drill-down
      actionReceiver=actionReceiver
      options=tree
      value=automationAction.value
      onValueChange=(action "changeValue")
      placeholder=valuePlaceholder
      triggerComponent="ko-select/trigger"
      dropdownClass=(local-class "dropdown")
      showFullPathOnLeaves=true
      triggerClass=(local-class "trigger")
      extra=(hash searchEnabled=true)
    }}
  </div>
{{/if}}
