.list-group-title {
  color: #838D94;
  text-transform: uppercase;
  padding: 12px 18px 5px;
  border-bottom: 1px solid $grey-2;
  font-size: 12px;
  font-weight: 700;

  &:not(:first-child) {
    border-top: 1px solid $grey-2;
  }
}

.list-group-items:last-child {
  padding-bottom: 28px;
}
