.report {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  display: flex;
  align-items: stretch;
}

.details {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 9px 0;
}

.details-header {
  display: flex;
  padding-bottom: 9px;
}

.label {
  font-weight: 600;
}

.details-footer {
  display: flex;
}

.details-separator {
  padding: 0 4.5px;
}

.last-downloaded {
  display: flex;
  align-items: center;
}

.last-downloaded-label {
  margin-right: 4px;
}

.last-downloaded-date {

}

.creator {
  display: flex;
  align-items: center;
}

.creator-label {
  margin-right: 4px;
}

.creator-avatar {
  margin-right: 4px;
}

.creator-name {

}

.status-pill {
  display: flex;
  align-items: center;
}

.status-time {
  margin-left: 9px;
}

.status-spinner {
  margin-right: 9px;
}

.status-text {
  color: #FFF;
  letter-spacing: 0.5px;
  font-size: 10px;
  font-weight: 600;

  height: 18px;
  padding: 1px 5px;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
}

.status-text-not-started,
.status-text-waiting {
  background-color: #F37036;
}

.status-text-started {
  background-color: #4EAFCB;
}

.status-text-completed {
  background-color: #36A148;
}

.status-text-failed,
.status-text-expired {
  background-color: #F37036;
}
